<section class="page home-page">
	<div class="row">
		<div class="column">
			<h1>Home page</h1>

			<p>This is emulation of some complex layout</p>

			<div id="DiagramFilter"></div>

			<p>Very very complex layout</p>
		</div>
	</div>
</section>